# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual env
.venv/

# Pytest
.pytest_cache/

# IDE
.vscode/
.idea/

# Reports (se regeneran)
reports/

# Environment
.env

# Coverage
.coverage
htmlcov/

# Others
guide.txt